<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control">
                        <span *ngIf="!signUpForm.get('userData.username').valid && signUpForm.get('userData.username').touched" class="help-block">
                        <span *ngIf="signUpForm.get('userData.username').errors['invalidName']" class="help-block">Name is invalid</span>
                        <span *ngIf="signUpForm.get('userData.username').errors['required']">This field is required</span></span>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" id="email" formControlName="email" class="form-control">
                        <span *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched" class="help-block">Please Enter a valid Email</span>
                    </div>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                      <input
                        type="radio"
                        formControlName="gender"
                        [value]="gender">{{ gender }}
                    </label>
                </div>
                <div formArrayName="hobbies">
                    <h3>Add Hobbies</h3>
                    <button id="btn" (click)="addHobbies()" type="button" class="btn btn-primary">Add Hobbies</button>
                    <br>
                    <div class="form-group" *ngFor="let hobbie of signUpForm.get('hobbies').controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i" placeholder="Add Hobbies">
                    </div>
                </div>
                <br>
                <button class=" btn btn-primary " type="submit ">Submit</button>
            </form>
        </div>
    </div>
</div>


<!-- Reactive form
  [FormGroup] should be attached to form element and equal the name of your FormGroup property in class
  formControlName="gender " added to each input and should match the formControl key
  in OnInit method
-->
